$search-font-size: 14px;

// ODR ui-library
$primary-btn-color: #000;
$btn-font-color: #fff;

.odr-btn {
  background-color: $primary-btn-color;
  color: $btn-font-color;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.odr-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

// form styles

$bg-color: #fff;
$hl-color: #000;
$muted-color: #333;
$trans-time: 300ms;
$width: 100%;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
}

// FORM // ============================== //
form {
  width: $width;
  margin: 45px auto;

  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }

  &.always-focus ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

.group label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.radio-group label {
  position: relative;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}
// ------------

// --------- ui-library ---------

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 25px;
  color: #fff !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
