.login-wrapper {
  overflow: auto;
  max-width: 360px;
  margin: auto;
  padding: 30px;
}

.odr-btn {
  margin: 30px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
